[tool.poetry]
name = "kirlent_sphinx"
version = "0.1.0"
description = "Kirlent extensions to Sphinx."

authors = ["H. Turgut Uyar"]
license = "BSD-3-Clause"

[tool.poetry.dependencies]
python = "^3.6"
sphinx = "^1.8"

[tool.poetry.dev-dependencies]
pygenstub = "^1.2"
flake8 = "^3.7"
flake8-isort = "^2.6"

[tool.black]
line-length = 96

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = style
skipsdist = True

[testenv:style]
whitelist_externals = poetry
skip_install = true
commands =
    poetry install -v
    poetry run {posargs:flake8} kirlent_sphinx
"""

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
