[tool.poetry]
name = "kirlent_sphinx"
version = "0.1.0"
description = "Kirlent extensions to Sphinx."

authors = ["H. Turgut Uyar"]
license = "BSD-3-Clause"

[tool.poetry.dependencies]
python = "^3.6"
sphinx = "^1.8"

[tool.poetry.dev-dependencies]
pygenstub = "^1.2"

[tool.black]
line-length = 96

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
