
/*********************************************
 * IMPRESSJS BASICS
 *********************************************/

section.step {
  position: relative;
  width: 990px;
  height: 700px;
}

section aside.notes {
  display: none;
}

.impress-enabled .step {
  margin: 0;
  opacity: 0;
  transition: opacity 1s;
}

.impress-enabled .step.active {
  opacity: 1;
}
