
/*********************************************
 * IMPRESSJS BASICS
 *********************************************/

section.step {
  position: relative;
  width: {{ theme_width }}px;
  height: {{ theme_height }}px;
}

section aside.notes {
  display: none;
}

.impress-enabled .step {
  transition: opacity 1s;
}

#impress .view {
  background: transparent;
  box-shadow: none;
}
