@tailwind preflight;

.columns {
  @apply flex flex-row;
}

.column {
  @apply flex-auto;
}

.w-1-2 {
  @apply w-1/2 flex-none;
}

.w-1-3 {
  @apply w-1/3 flex-none;
}

.w-2-3 {
  @apply w-2/3 flex-none;
}

.w-1-4 {
  @apply w-1/4 flex-none;
}

.w-3-4 {
  @apply w-3/4 flex-none;
}

.reveal .slides section em {
  @apply roman text-alert;
}

.reveal .slides section .highlight {
  @apply bg-transparent;
}

@tailwind utilities;
